body {
  font-family: Arial, sans-serif;
  background-image: url("/image/bulbasur.png");
  background-size: cover;
  color: #050505;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  background-color: rgba(28, 107, 12, 0.863);
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 0 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}


.BackHome {
  text-decoration: none;
}


header button {
  background-color: black; /* Fondo negro */
  color: white; /* Texto blanco */
  border: 2px solid yellow; /* Borde amarillo */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Animaciones suaves */
}


header button:hover {
  background-color: yellow;
  color: black; 
  transform: scale(1.05);
}


form {
  background-color: #ffffffa4;
  border: 2px solid #e74747;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #0f0505;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #e4b1af;
  border-radius: 8px;
  background-color: #fef5fc;
  color: #333;
}

form input:focus {
  outline: none;
  border-color: #d88484;
  box-shadow: 0 0 5px #ee921a;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #f5cb40;
  color: rgb(10, 9, 9);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f3a20b;
}

button:active {
  background-color: #b98015;
}

