body {
  font-family: 'Arial', sans-serif;
  background-color: #f1e4aa;        
  margin: 0;
  padding: 0;
}

/* Header */
.page-header {
  background-color: rgb(0, 119, 255); /* Fondo rojo */
  color: white; /* Texto blanco */
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para relieve */
  position: sticky; /* Permanece visible en la parte superior al hacer scroll */
  top: 0;
  z-index: 1000;
}

.page-header h1 {
  font-size: 24px;
  margin: 0;
}


.product-detail {
  background-color: #ffffff;  
  border-radius: 10px;         
  box-shadow: 0 4px 8px rgba(236, 4, 4, 0.432);  
  max-width: 500px;            
  margin: 20px auto;           
  padding: 20px;               
  text-align: center;          
  color: #333333;              
}


.product-image {
  width: 100%;                
  height: auto;                
  border-radius: 8px;          
  object-fit: cover;           
  margin-bottom: 20px;         
}


.product-name {
  font-size: 2rem;             
  color: #0a010e;             
  font-weight: bold;           
  margin-bottom: 10px;         
}


.product-description {
  font-size: 1rem;             
  color: #555555;              
  margin-bottom: 15px;        
}


.product-price {
  font-size: 1.2rem;           
  color: #e74c3c;              
  font-weight: bold;           
  margin-bottom: 10px;         
}


.product-type {
  font-size: 1rem;            
  color: #7f8c8d;            
  margin-bottom: 20px;         
}


.delete-product-button {
  background-color: #f5740b;
  color: rgb(12, 0, 0);               
  border: none;                
  padding: 12px 20px;          
  font-size: 1.5rem;            
  border-radius: 50px;          
  cursor: pointer;             
  transition: background-color 0.3s ease; 
}

.delete-product-button:hover {
  background-color: #d35400;   
}

.home-page-button {
  background-color: #f5740b;  
  color: rgb(12, 0, 0);               
  border: none;                
  padding: 12px 20px;          
  font-size: 1.5rem;            
  border-radius: 50px;          
  cursor: pointer;             
  transition: background-color 0.3s ease;
}

.home-page-button:hover {
  background-color: #d35400;   
}
