body {
  font-family: Arial, sans-serif;
  background: rgb(243, 189, 73);
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.BackHome {
  text-decoration: none;
}


header button {
  background-color: black;
  color: white;
  border: 2px solid yellow;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


header button:hover {
  background-color: yellow;
  color: black; 
  transform: scale(1.05);
}


form {
  background-color: #fcfbf8;
  border: 2px solid #f1665c;
  border-radius: 10px;
  padding: 70px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #0e0b08;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d4a53f;
  border-radius: 5px;
  background-color: #fef7fb;
  color: #333;
}

form input:focus {
  outline: none;
  border-color: #e6a33f;
  box-shadow: 0 0 5px #d6501b;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ecb622;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
   background-color: #f56a0e;
}

button:active {
  background-color:#f56a0e;

}